.user {
display:flex;
 flex-wrap: wrap;
 flex-direction: row;
 gap: 10px;
}
.user > div {
    display:inline-block;

    border: 1px solid #eee;
    box-shadow: 0 3px 3px #ccc;
    width:200px;
    padding:20px;
}
.user > div:hover{
    color:white;
    background:green
}
button {
    text-align: center;
    padding: 10px;
    border: 1px solid green;
    border-radius: 8px;
    align-self: center;
}
button:hover{
    color: #eee;
    background: rgba(255, 0, 0, 0.2);
    border-color: white;
}
.posts>ul {
    background: #c4c2c3;
    margin-top: 20px;
}