html,body{
    margin: 0;
}
body {

    display: grid;
    gap: 20px;
    grid-area: 'header'
                'main'
                'footer' ;
}
header {
   display:grid;
    place-items: center;
    background:  #9400d3;
    color: white;
    min-height: 200px;
    border-bottom-left-radius: 15% 10%;
    border-bottom-right-radius: 10% 15%;
    animation: font-anim 1.2s ease-in-out;
    font-size:32px ;

}

.user {
display:flex;
 flex-wrap: wrap;
 flex-direction: row;
 gap: 10px;
}
.user > div {
    display:inline-block;

    border: 1px solid #eee;
    box-shadow: 0 3px 3px #ccc;
    width:200px;
    padding:20px;
}
.user > div:hover{
    color:white;
    background: #9400d3
}
button {
    text-align: center;
    padding: 10px;
    border: 1px solid  #9400d3;
    border-radius: 8px;
    align-self: center;
}
button:hover{
    color: #eee;
    background: rgba(255, 0, 0, 0.2);
    border-color: white;
}
.posts>ul {
    padding:16px 64px;
    background:  #9400d3;
    margin-top: 20px;
}
.posts>ul li {
    background: rgba(255, 255, 255, 0.14);
    list-style-type: none;
    margin: 4px;
    padding: 8px;
    font-size: 24px;
    color: white;
    animation: post-anim 2s ease-in
}

@keyframes font-anim{
    0%{
        font-size: 64px
    }
    50%{
        font-size: 32px
    }
    100%{
        font-size: 64px;
    }
}
@keyframes post-anim {
    from {
        opacity: 0;
        background: rgb(137, 216, 137);
    }
    to{
        opacity: 1
    }
}